name: Backup Images
on:
  workflow_dispatch:

jobs:
  backup_images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: print github event action
        run: |
          echo "${{ github.event.action }}"
      - uses: junxnone/oc_backup_images@main
        with:
          branch: "main" # default to main
          dir: "docs" # default to _posts
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          actor: ${{ github.actor }}
